<h1>Confirmez votre adresse email</h1>

<p>
	Cliquez sur le lien pour confirmer votre adresse email
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
		    Ce lin expirera dans:
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
