{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos{% endblock %}

{% block stylesheets %}
{{parent()}}
           <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}





<br>
<br>
<p>TEST</p>
{% endblock %}
