{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/main.css') }}" rel="stylesheet">

{% endblock %}


{% block body %}

<br>
<br>

<div class="entete"></div>
	<div class="new">
		{% for video in videos %}

			<div class="biovideo">
				<iframe width="350" height="200" src="{{ video.lien|replace({'watch?v=': 'embed/'}) }}"></iframe>
				<div class="bio">
					{{video.description}}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

