.intro{position:absolute;
    top:20%;
    left:15%;
    z-index:1;
    width:70%;
    background-color: rgba(0, 0, 0, 0.664);
color:rgb(0, 248, 12);
font-family: "Copperplate Gothic Light"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;}


.titre{font-family: "Copperplate Gothic Light";
  font-weight: bold;
  position:absolute;
top:8vh;
left:38vw;
font-size:100px;
animation: blink 12s infinite;}

.liens{display:flex;
  position:absolute;
  top:55%;
  z-index:1;
  display:flex;
  width:100vw;}


.biovideo{display:flex;
  width:50vw;
  flex-direction:column;
  align-items:center;
  margin-bottom:5%;}

.bio{ text-shadow: 1px 1px 10px rgb(41, 241, 41);
  width:30vw;
  text-align:center;
  color:white;
  font-size:larger;
}




@keyframes blink {
  20%,22%,55%,75%,96%,98%{
    color: #090b0044;
    text-shadow: none;
  }

  0%,19%,21%,23%,25%,54%,56%,74%,76%,95%,97%,99%,100% {
text-shadow: 0 0 5px #01a501, 0 0 15px #01a501, 0 0 20px #01a501, 0 0 40px #01a501,
0 0 60px #0e5d00, 0 0 10px #01a501, 0 0 98px #03e303;color: #20f50c;
  }
}









 /* anim div intro */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.intro {
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.intro::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #04911015;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, #03920a, transparent 30%);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
.intro::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #00000093;
  border-radius: 5px;
}

.intro-demo::after {
  -webkit-animation: opacityChange 5s infinite linear;
          animation: opacityChange 5s infinite linear;
}

@-webkit-keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/* PopUp */

.age {
  position: fixed;
  left: 0;
  top: 00;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.agetexte {
  
  position: relative;
  color:white;
  background-color: rgb(18, 0, 0);
  width:100vw;
  height:100vh;
  padding: 20px;
  z-index:4;
  text-align:center;
  justify-content: center;
  align-items: center;
}

.ageferme {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
 
}

.centreage{margin-top:40vh;}




@media only screen and (min-width:319px) and (max-width:1000px){ 
  

.agetexte{font-size:40px;}

.intro{font-size:30px;}

.bio{font-size:30px;}

}