body{background-color:rgb(245, 221, 9);

margin:0;}




  .bodynuit{background-color: rgb(175, 2, 2);}


 .entete{width:100vw;
  height:25vh;
  background-image: url("https://static.actu.fr/uploads/2022/06/tifo-rcl.jpg");
background-position: 0% 55%;}

  .new{background-color:rgba(7, 7, 7, 0.384);
    width:100vw;height:70vh;
  }


  .biovideo{display:flex;
  align-items:center;
  margin-bottom:5%;
  
  
 }

  .bio{color:white;
    font-size:larger;
  text-align:center;
flex:1;}


  
