body{background-color:rgb(19, 219, 226);

margin:0;}




  .bodynuit{background-color: rgb(83, 2, 2);}


 .entete{width:100vw;
  height:25vh;
  background-image: url("https://www.radiofrance.fr/s3/cruiser-production/2023/01/057c1bc4-14e0-4c3e-8a45-d9c8cc02165d/870x489_gettyimages-1435879397.jpg")}

  .new{background-color:rgba(7, 7, 7, 0.555);
    width:100vw;height:70vh;
  }


  .biovideo{display:flex;
  align-items:center;
  margin-bottom:5%;
  
  
 }

  .bio{color:white;
    font-size:larger;
  text-align:center;
flex:1;}


  
