body{height:100vh;
  background:linear-gradient(rgb(3, 169, 207),rgb(1, 82, 93));

margin:0;}




  .bodynuit{background:linear-gradient(red,black);}


 .entete{width:100vw;
  height:25vh;
  background-image: url("https://fastly.picsum.photos/id/47/857/230.jpg?hmac=EodqY5T33Db8mRm8SIn2w4-hLqCz9bpYp5ZQZRQJsdI");
background-size:cover;
}

  .new{background-color:rgba(7, 7, 7, 0.384);
    width:100vw;height:70vh;
  }


  .biovideo{display:flex;
  align-items:center;
  margin-bottom:5%;
 box-shadow: 0px 10px 10px rgba(19, 1, 1, 0.365)
  
  
 }

  .bio{color:white;
    font-size:larger;
  text-align:center;
flex:1;}

@media only screen and (min-width: 319px) and (max-width: 1000px) {

.biovideo{flex-direction: column;}

iframe{height:15vh;width:60vw;}
body{font-size:larger;}
footer{font-size:40px;}
.bio{font-size:30px;}


}
  
