body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/question.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
}

.centretexte {
    text-align:center;
  width: 40vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 10%;
  font-size:25px;
}

.centre {
  display: flex;

  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select{font-size:25px;
margin-top:5%;}

.envoyer{margin-top:5%;
    font-size:25px;}

textarea{width:80%;
height:70%;}


@media only screen and (min-width: 319px) and (max-width: 1000px) {

  body{background-position:85% ;}

.centretexte{width:90%;
font-size:40px;}

label{font-size: 60px;}

input{font-size: 40px;
background-color: aliceblue;}

textarea{width:80%;
  height:40%;
font-size:40px;}

select{font-size:40px;}

.envoyer{width:25%;font-size:40px;}

}