body{width:100vw;
    height:100vh;
    background-image:url("../images/splashregister.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255, 255, 255, 0)

}


    .container{display:flex;
        text-align:center;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:50vh;
    
    }
    .formulaire{margin-top:10%;
        width:50vw;
        height:45vh;
        font-size:30px;
        background-color:rgba(2, 72, 59, 0.478);
    border:solid;
    border-radius:10%;
    border-color:black;}
    
    .colonne{display:flex;
    flex-direction: column;}
    
    .hophop{font-size:25px;
    width:8vw;}
        
    input{margin-left:2%; font-size:20px;}

    .vich-image{font-size:25px!important;}
    #registration_form_imageFile_file{width:25vw;
    font-size:20px;}



    @media only screen and (min-width:319px) and (max-width:1000px){ 

        .formulaire{width:90%;
            border-radius: 1;
            font-size:50px;}

        input{width:30%;
            font-size:35px;}

        .hophop{font-size:35px;
                width:18vw;}

        #registration_form_imageFile_file{width:80vw;
            font-size:30px;}

    }