{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/questions.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Questions{% endblock %}

{% block body %}
<br>
<div class="centre"> 
<div class="centretexte">
    <h1>Poser une question</h1>

    {{ include('questions/_form.html.twig') }}
    </div>
</div>
    
{% endblock %}
