{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos{% endblock %}

{% block stylesheets %}
{{parent()}}
           <link href="{{ asset('css/jeux.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}

<div> ah </div>

{% endblock %}