{% extends 'base.html.twig' %}

{% block title %}Los Petits Panos{% endblock %}

{% block stylesheets %}
{{parent()}}
           <link href="{{ asset('css/jeux.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}

<div class="container">
    <video autoplay loop muted>
      <source src= "{{asset('videos/mcdungeon.mp4')}}" type="video/mp4">
    </video>
</div>

{% endblock %}